@charset "utf-8";

//----------------------------------------------------------------------------
// functions
//----------------------------------------------------------------------------

//
// import once
//
$modules: () !default;

@mixin exports($name) {
  // Import from global scope
  $modules: $modules !global;
  // Check if a module is already on the list
  $module_index: index($modules, $name);
  @if (($module_index == null) or ($module_index == false)) {
    $modules: append($modules, $name) !global;
    @content;
  }
}
