language: php

php:
  - "7.0.0"

branches:
  only:
  - master

script:
  - ls -al style.css

after_success: bash ./.bin/deploy.sh

env:
  global:
  - GH_REF: github.com/featherplain/asknode.git
  - secure: "Ne0j+T6CZrKRWG/xGP80d2IukmdUEF+PXoDZZiYZykzpny6Zql6cVRHALZ7dDak0rV6juLE2lNysF00d0KdLSwm2rOt7XQVVb8SxtAt2HGnq9nTppwOLxDp8N0FHh9cVdiFie26btci13BeN+ZHfB7+QbUqN14cokdSsa+5WoDN1Xde2xdjt6Rw645hSqKcQBKPQOKiWxnLxL8v4a8CcQ1BE0TUYfne8fhjaqcCgECDdSMNuiXJOHYAXuS05GHRwY0zInMu2OvN5iQ9VfAjvScHfHI9DhW2dHhdAv3HzmMIz8K6IHGWj6senstJxi/PF/Uom/hqbXF3mDq9eRY+bDGH9zG3E+zHiALGOaQt/KTBXJVDpS7J0Sd8k2Pxma6bwLJ8ibzRo/bKOzToqcTjnjFd+2pZxwyLW2tPdSNOa60LYfJsjDEWCESRz3Z9rIrZAEwXzSEI0AIB4Aqud1A2ID4V0mH2fh+cytdiz6cMAxI6CfP6ZO5QNyEEPR5BUkJyjd8Qba7XfsKcn0R33HtQt8A94DBEO+LdzyAHs+h40xlzESZwV0MGXesgyIkPjWiaSZV26TYgBRjAfuXxSEH0nKo7f7+BmhMXEq14K+Vo0Li1+ibZplIebJVsL8xMqYEqxTLGa6fSc1apLxWMqjyd3I1ucI0/i9LMAdqPTGCnMvj8="
