@charset "utf-8";
/* -------------------------------------------------------------- */
/* Amethyst default styles
/* -------------------------------------------------------------- */

/**
 * root element
 */
body {
  @media #{$small-only} {
    position: static;
  }
}

/**
 * text-level semantics
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontFamilyTitle;
  &,
  & > a {
    color: $colorBase;
    &:hover {
      text-decoration: none;
    }
  }
}
a {
  color: $colorLink;
  text-decoration: none;
  transition: 0.3s;
  &:focus {
    outline: thin dotted;
  }
  &:link,
  &:visited {
    color: $colorLink;
  }
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    color: $colorLinkHover;
    text-decoration: none;
  }
}
p {
  color: $colorBase;
  font-family: $fontFamily;
}
::selection {
  background: transparent;
  background-color: $colorSelection;
  color: $colorBase;
}

/**
 * list items
 */
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: $fontFamily;
  list-style: none;
}
dl {
  margin-bottom: 2em;
  &:last-child{
    margin-bottom: 0;
  }
  dt {
    margin-bottom: 1em;
    font-weight: bold;
  }
  dd {
    margin-bottom: 1em;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

/**
 * grouping content
 */
iframe {
  vertical-align: middle;
}
/**
 * embedded content
 */
figure {
  margin: 0;
}
img {
  line-height: 1.0;
  border: 0;
}
svg:not(:root){
  overflow: hidden;
}

/**
 * table
 */
table {
  width: 100%;
  background-color: #ffffff;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: inherit;
  caption {
    margin: 5px 0;
  }
  thead,
  tfoot {
    background-color: $colorBg;
    th {
      padding: 8px;
      font-weight: 600;
    }
  }
  tbody {
    th {
      padding: 8px;
      font-weight: 500;
    }
    tr {
      &:nth-child(odd) {
        background-color: #ffffff;
      }
      &:nth-child(even) {
        background-color: $colorBg;
      }
    }
  }
  td {
    padding: 6px;
  }
}

/**
 * screen reader text
 */
.screen-reader-text {
  display: none;
}
