@charset "utf-8";

/* -------------------------------------------------------------- */
/* footer
/* -------------------------------------------------------------- */

/**
 * footer widgets
 */
.footer-widgets {
  padding: $m40;
  background-color: $colorBg;
}
/**
 * siteinfo
 */
.siteinfo {
  background-color: darken($colorBase, 4%);
  &__inner {
    @include grid-row();
    @extend %clearfix;
    padding: 20px 0;
    font-size: rem-calc(12);
    letter-spacing: 1.6px;
  }
  &__credit {
    @include grid-column(
      $columns: 6,
      $float: left
    );
    a {
      color: #ffffff;
      &:hover {
        color: $colorLink;
      }
    }
  }
  &__copy {
     @include grid-column(
      $columns: 6,
      $float: right
    );
    color: #ffffff;
    text-align: right;
  }
  &__sep {
    color: #ffffff;
  }
}
/**
 * media queries
 */
.siteinfo {
  @media #{$small-only} {
    &__credit,
    &__copy {
      @include grid-column(
        $columns: 12
      );
      margin: 10px 0;
      text-align: center;
    }
  }
}
.footer-widgets {
  &__inner {
    @media #{$small-only} {
      padding: 0 16px;
    }
    @media #{$medium-up} {
      @include grid-row();
    }
  }
}
