@charset "utf-8";
/* -------------------------------------------------------------- */
/* forms
/* -------------------------------------------------------------- */

// load Foundation form styles
@include foundation-forms;

/**
 * buttons
 */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @include btnBase($colorBtn, rem-calc(16));
  font-family: $fontFamily;
}
/**
 * required
 */
.required {
  color: $colorRed;
}
