@charset "utf-8";

/* -------------------------------------------------------------- */
/* layout
/* -------------------------------------------------------------- */

/**
 * l-container
 */
body.custom-background {
  .l-container {
    @include grid-row();
    background-color: #ffffff;
  }
}
/**
 * l-main
 */
.l-main {
  @include grid-row();
  min-height: 100vh;
}
/**
 * l-primary
 */
.l-primary {
  @include layoutMargin;
  @media #{$medium-up} {
    @include grid-column(
      $columns: 9,
      $collapse: false
    );
  }
  &--single-column {
    @media #{$medium-up} {
      float: none;
      width: 100%;
      max-width: 780px;
      margin: 0  auto 40px auto;
    }
  }
}
/**
 * l-sidebar
 */
.l-sidebar {
  @include layoutMargin;
  @media #{$medium-up} {
    @include grid-column(
      $columns: 3,
      $collapse: false
    );
  }
}
/**
 * page title
 */
.page-title {
  margin-bottom: 40px;
  padding: 0 18px;
  font-size: rem-calc(14);
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
/**
 * no sidebar
 */
.no-sidebar {
  .page-title {
    @include layoutMargin;
    width: 100%;
    max-width: 780px;
  }
  .l-primary {
    @include layoutMargin;
  }
}
/**
 * error 404
 */
.not-found {
  &__title {
    margin-top: 0;
  }
}
/**
 * WordPress classes
 */
.sticky {
  display: inherit;
}
