@charset "UTF-8";

/* -------------------------------------------------------------- */
/* widgets
/* -------------------------------------------------------------- */

.widget {
  margin-bottom: 20px;
  &__title {
    margin: 0;
    padding: 8px 0;
    border-top: 2px solid $colorBase;
    font-family: $fontFamilyTitle;
    font-size: rem-calc(16);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }
  a {
    color: $colorBase;
    font-size: rem-calc(14);
    line-height: 1.4;
  }
  ul {
    li {
      padding: 8px 0;
      border-top: 1px solid lighten($colorSub, 6%);
      font-size: rem-calc(13);
      ul {
        margin-top: 8px;
        margin-left: 12px;
        border-bottom: none;
        li {
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
      a {
        font-size: rem-calc(13);
        &:hover {
          color: $colorLink;
        }
      }
    }
  }
}
/**
 * WordPress widget classes
 */

// widget post list style
%widgetPostList {
  span {
    display: block;
    color: darken($colorSub, 10%);
    font-size: rem-calc(12);
  }
  time {
    display: block;
    margin: 4px 0;
    text-align: right;
    color: darken($colorSub, 10%);
    font-size: rem-calc(12);
  }
}
.widget {
  // search
  &_search {
    input[type="submit"] {
      display: none;
    }
  }
  // text widget
  &_text {
    .textwidget {
      font-size: rem-calc(14);
    }
  }
  // recent posts
  &_recent_entries,
  &_rss {
    @extend %widgetPostList;
  }
  // tag cloud
  &_tag_cloud {
    .tagcloud {
      a {
        padding: 2px;
        &:hover {
          background-color: lighten($colorLink, 46%);
        }
      }
    }
  }
}
// widget_calendar
#calendar_wrap {
  border: 1px solid $colorSub;
}
#wp-calendar {
  td {
    text-align: center;
  }
}
/**
 * media queries
 */
@media #{$medium-up} {
  .widget {
    &--footer {
      @include grid-column(
        $columns: 4,
        $collapse: false
      );
    }
  }
}
