.comments
  h2.comments__title この投稿へのコメント
  p.comments__text コメントはありません。
  h2.comments__title コメントを残す
  p.comments__text testuser としてログインしています。ログアウトしますか?
  p.comments__text メールアドレスが公開されることはありません。 * が付いている欄は必須項目です
  form.comments__form
    label(for='name') 名前*
    input(type='text', id='name', name='name', rows='1', aria-required='true')
    label(for='email') メールアドレス*
    input(type='text', id='email', name='email', rows='1', aria-required='true')
    label(for='url') Web サイト
    input(type='text', id='url', name='url', rows='1', aria-required='false')
    label(for='comment') コメント*
    textarea(id='comment', name='comment', rows='6', aria-required='true')
    p.comments__text 次の HTML タグと属性が使えます:
      code &lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;s&gt; &lt;strike&gt; &lt;strong&gt;
    .comments__subscription
      p
        input(type='checkbox', id='subscribe', name='subscribe', value='subscribe', tabindex='6')
        label(id='subscribe-label', for='subscribe') 新しいコメントがついたらメールで通知
      p
        input(type='checkbox', id='subscribe-blog', name='subscribe-blog', value='subscribe', tabindex='6')
        label(id='subscribe-label', for='subscribe-blog') 新しい投稿をメールで受け取る
    input.btn.btnSubmit(name='submit', type='submit', id='submit', value='コメントを送信')
