.snsShare
  ul.snsShare__list
    li
      a.snsShare__btn.snsShare__btn--fb(href='#', title='share with Facebook')
        svg(viewBox='0 0 14 14', role='img', area-labelledby='title desc', width='20', height='20')
          use(xlink:href='../dist/images/sprite.symbol.svg#icon_fb')
      span.snsShare__count.snsShare__count--fb 100
    li
      a.snsShare__btn.snsShare__btn--hatena(href='#', title='share with Hatena Bookmark')
        svg(viewBox='0 0 14 12', role='img', area-labelledby='title desc', width='20', height='18')
          use(xlink:href='../dist/images/sprite.symbol.svg#icon_hatena')
      span.snsShare__count.snsShare__count--hatena 100
    li
      a.snsShare__btn.snsShare__btn--tw(href='#', title='share with twitter')
        svg(viewBox='0 0 14 12', role='img', area-labelledby='title desc', width='20', height='18')
          use(xlink:href='../dist/images/sprite.symbol.svg#icon_tw')
      a.snsShare__count.snsShare__count--tw(href='#', title='number of twitter share') 100
    li
      a.snsShare__btn.snsShare__btn--pocket(href='#', title='bookmark with pocket')
        svg(viewBox='0 0 15 14', role='img', area-labelledby='title desc', width='20', height='19')
          use(xlink:href='../dist/images/sprite.symbol.svg#icon_pocket')
      span.snsShare__count.snsShare__count--pocket 100
