header.l-header(role='banner')
  button#js-btn-nav.btnNav
    i.fa.fa-bars
  nav.l-nav
    ul#js-menu.menu
      li.menu__item.menu__item--text: a.menu__link(href="#{url.demo}", target="_blank") Demo
      li.menu__item.menu__item--text: a.menu__link(href="") Update
      li.menu__item.menu__item--text: a.menu__link(href="#{url.demo}", target="_blank") Blog
      li.menu__item.menu__item--text: a.menu__link.icon-gh(href="#{url.gh}", target="_blank") View on GitHub
      li.menu__item.menu__item--btn: a.btn.btn--nav.icon-wp(href="#{url.wp}") Download
