header.l-header(role='banner')
  .l-header__inner
    h1.siteLogo
      a(href='#', title='NODE')
        svg(viewBox='0 0 100 25' role='img' area-labelledby='title desc' width='100px' height='25px')
          use(xlink:href='../dist/images/sprite.symbol.svg#logo_node')
    nav.gNav
      a.gNav__btn(href='#', title='MENU', role='button')
        svg(viewBox='0 0 16 12' role='img' area-labelledby='title desc' width='22px' height='18px')
          use(xlink:href='../dist/images/sprite.symbol.svg#icon_menu')
      ul.gNav__list
        - var items = {about: 'ABOUT', blog: 'BLOG', category: 'CATEGORY', contact: 'CONTACT'}
        for val, key in items
          li(class="gNav__item gNav__item--#{key}"): +link('',val)
