aside.l-primarySidebar
  .widget.widget--search
    form.search(role='search'. method='get', acction='')
      label
        span.screenReaderText Search:
        input.search__input(type='search', placeholder='Search...', value='', name='search', title='Search')
  .widget.widget--categories
    h2.widget__title CATEGORIES
    ul.categories
      - for (var x = 0; x < 5; x++)
        li: a(href='#') category name
  .widget.widget--recentPosts
    h2.widget__title RECENT POSTS
    ul.recentPosts
      - for (var x = 0; x < 5; x++)
        li
          a(href='#') Lorem ipsum dolor sit amet, consecteur adispiting elit.
          time 2015.10.20
  .widget.widget--tagCloud
    h2.widget__title TAG CLOUD
    ul.tagCloud
      - for (var x = 0; x < 20; x++)
        li: a(href='#') TAG
// / .l-primarySidebar
