aside.l-sidebar(role='complementary')
  .widget.widget--sidebar
    form.search(role='search'. method='get', acction='')
      label
        span.screen-reader-text Search:
        input.search__input(type='search', placeholder='Search...', value='', name='search', title='Search')
  .widget.widget--sidebar
    h2.widget__title CATEGORIES
    ul
    - for (var x = 0; x < 5; x++)
      li: a(href='#') category name
  .widget.widget--sidebar
    h2.widget__title RECENT POSTS
    ul
    - for (var x = 0; x < 5; x++)
      li
        a(href='#') Lorem ipsum dolor sit amet, consecteur adispiting elit.
        time 2015.10.20
  .widget.widget--sidebar
    h2.widget__title TAG CLOUD
    ul
    - for (var x = 0; x < 20; x++)
      li: a(href='#') TAG
// / .l-sidebar
