section.block.pickup
  .pickup__columns8
    img(src="#{path.img}img_multi_device_mockup.png", alt="iPhone and iPad mockup image")
  .pickup__columns4
    h2.pickup__title Designed for all devices.
    p.pickup__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec mollis. Quisque convallis libero in sapien pharetra tincidunt. Aliquam elit ante, malesuada id, tempor eu, gravida id, odio.
section.block.pickup
  .pickup__columns8.pickup__columns8--pos
    img(src="#{path.img}img_browser_mockup.png", alt="browser ")
  .pickup__columns4.pickup__columns4--pos
    h2.pickup__title Simple blog theme
    p.pickup__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec mollis. Quisque convallis libero in sapien pharetra tincidunt. Aliquam elit ante, malesuada id, tempor eu, gravida id, odio.
// / .pickup
