@charset "utf-8";

//***********************
// color
//***********************
// primary
$colorBase          : #333333;
$colorSub           : #dedede;
$colorLink          : #999999;
$colorLinkHover     : lighten($colorLink, 15%);
$colorSelection     : $colorLink;

//***********************
// path
//***********************
$filePath           : "../images/";

//***********************
// font-family
//***********************
// primary
$fontFamily         : "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
// En
$fontFamilyEn       : "Helvetica Neue", "Helvetica",Sans-Serif;
// code
$fontFamilyCode     : Menlo,Consolas,Courier,sans-serif;

//***********************
// block size
//***********************
$maxWidth           : 940px;

//***********************
// base margin
//***********************
$m20: 20px 0;
$m30: 30px 0;

//***********************
// navigation size
//***********************
// $menuHeight        : ;
// $menuItemWidth     : ;
// $menuItemHeight    : ;
// $menuPadding       : ($menuHeight - $menuItemHeight) / 2; // Calclate padding size automatically
