@charset "utf-8";

/* archive
/* ---------------------------------------- */
/* page title */
.page-title {
  margin-bottom: 30px;
  font-size: rem-calc(14);
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  &__inner {
    @extend %fontSpace;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 1px solid $colorSub;
  }
}
/* post archive */
.post-archive {
  &__link {
    @extend %clearfix;
    display: block;
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px dotted $colorSub;
    & > * {
      transition: 0.3s;
    }
    &:hover {
      .post-archive__title {
        color: $colorLink;
      }
    }
  }
  &__thumb {
    float: left;
    > img {
      width: 100%;
      max-width: 90px;
      height: auto;
    }
  }
  &__meta,
  &__title {
    margin-left: 100px;
    color: $colorBase;
  }
  &__meta {
    margin-bottom: 4px;
    line-height: 1;
    time {
      vertical-align: top;
      color: lighten($colorBase, 20%);
      font-size: rem-calc(12);
      line-height: 1;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: rem-calc(13);
    font-weight: normal;
    line-height: 1.6;
  }
}
/* media */
@media #{$medium-up}{
  .post-archive {
    &__link {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    &__thumb {
      img {
        max-width: 120px;
      }
    }
    &__meta,
    &__title {
      margin-left: 140px;
    }
    &__title {
      margin-top: 0;
      margin-bottom: 0;
      padding-right: 10px;
      font-size: rem-calc(18);
    }
  }
}
