@charset "utf-8";

/* common
/* ---------------------------------------- */

/*
 * l-main
 */
.l-main {
  @include grid-row();
}
/*
 * l-primary and l-sidebar
 */
.l-primary,
.l-sidebar {
  margin-bottom: 40px;
}
@media #{$small-only} {
  .l-primary,
  .l-sidebar {
    padding: 0 16px;
  }
}
@media #{$medium-up} {
  .l-primary {
    @include grid-column(
      $columns: 9,
      $collapse: false
    );
  }
  .l-sidebar {
    @include grid-column(
      $columns: 3,
      $collapse: false
    );
  }
}
/*
 * page title
 */
 .page-title {
  margin-bottom: 30px;
  padding: 0 16px;
  font-size: rem-calc(14);
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
/*
 * screen reader text
 */
.screen-reader-text {
  display: none;
}
