@charset "utf-8";

/* footer
/* ---------------------------------------- */
.l-footer {}
/* footer widgets */
.footerWidgets {
  padding: $m40;
  background-color: lighten($colorSub, 11%);
  &__inner {
    @media #{$small-only} {
      padding: 0 16px;
    }
    @media #{$medium-up} {
      @include grid-row();
    }
  }
  .widget--footer {
    @media #{$medium-up} {
      @include grid-column(
        $columns: 4,
        $collapse: false
      );
    }
  }
}
/* copyright */
.copyright {
  background-color: #111111;
  &__inner {
    @include grid-row();
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    font-size: rem-calc(12);
    letter-spacing: 2.2px;
  }
}
