@charset "UTF-8";

/* full width
/* ---------------------------------------- */
.full-width {
  .page-title {
    width: 100%;
    max-width: 780px;
    margin: 0 auto 30px auto;
  }
  .l-primary {
    width: 100%;
    max-width: 780px;
    margin: 0  auto 40px auto;
    float: none;
  }
}
