@charset "utf-8";

/* footer
/* ---------------------------------------- */
.l-footer {}
/**
 * footer widgets
 */
.footer-widgets {
  padding: $m40;
  background-color: $colorBg;
}
/**
 * copyright
 */
.copyright {
  background-color: #111111;
  &__inner {
    @include grid-row();
    padding: 20px 0;
    text-align: center;
  }
  &__text {
    margin: 10px auto;
    color: #ffffff;
    font-size: rem-calc(12);
    letter-spacing: 1.6px;
    a {
      color: #ffffff;
      &:hover {
        color: $colorLink;
      }
    }
  }
}
/**
 * media queries
 */
.footer-widgets {
  &__inner {
    @media #{$small-only} {
      padding: 0 16px;
    }
    @media #{$medium-up} {
      @include grid-row();
    }
  }
}
