@charset "utf-8";

/* header
/* ---------------------------------------- */
.l-header {
  @include grid-row;
}
/* siteLogo */
.siteLogo {
  float: left;
  margin: 0;
  a {
    display: block;
    padding: 14px;
    height: 25px;
    line-height: 1.0;
    svg {
      display: block;
      vertical-align: top;
    }
  }
}
/* navigation */
.gNav {
  float: right;
  &__btn {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: $colorBase;
    color: #ffffff;
    svg {
      margin: 15px 0;
    }
  }
  &__list {
    @extend %clearfix;
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    margin: 0;
    background-color: $colorBase;
    z-index: 9999;
    &--active {
      display: block;
    }
    li {
      border-bottom: 1px dotted #dedede;
      &:last-child {
        border-bottom: none;
      }
      a {
        @extend %fontSpace;
        display: block;
        padding: 10px;
        color: #ffffff;
        font-weight: normal;
        transition: all 0.3s;
      }
    }
  }
}
/* media */
@media #{$medium-up} {
  .l-header {
    &__inner {
      margin: $m20;
    }
  }
  .siteLogo {
    a {
      padding: 14px 0;
    }
  }
  .gNav {
    &__btn {
      display: none;
    }
    &__list {
      display: block;
      position: static;
      li {
        float: left;
        background-color: #ffffff;
        border-bottom: none;
        a {
          color: $colorBase;
        }
      }
    }
  }
}
