@charset "utf-8";

/* post
/* ---------------------------------------- */
.post {
  &--search {
    border-bottom: 1px solid $colorSub;
    > a {
      display: block;
      padding: $m10;
      color: $colorBase;
      &:hover {
        background-color: $colorBg;
      }
    }
  }
  &__header {
    margin: 0 0 20px 0;
  }
  &__title {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: rem-calc(20);
  }
  &__meta {
    margin-bottom: 14px;
    &--footer {
      margin: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid $colorSub;
      text-align: right;
    }
    > * {
      display: inline-block;
      font-weight: 400;
      font-size: rem-calc(12);
      &:first-child {
        margin-left: 0;
      }
      a {
        margin-left: 2px;
        color: $colorBase;
        line-height: 1;
      }
    }
  }
  &__summary {
    font-size: rem-calc(14);
  }
  &__image {
    width: 100%;
  }
  &__date {
    @include hasPseudoClass(before);
    &:before {
      @include genericon('\f307', 1.1rem, top);
    }
  }
  &__category {
    @include hasPseudoClass(before);
    &:before {
      @include genericon('\f301', 1.1rem, top);
    }
  }
  &__author {
    @include hasPseudoClass(before);
    &:before {
      @include genericon('\f304', 1.1rem, top);
    }
  }
  &__tag {
    @include hasPseudoClass(before);
    &:before {
      @include genericon('\f302', 1.1rem, top);
    }
  }
  &__comment {
    @include hasPseudoClass(before);
    &:before {
      @include genericon('\f108', 1.1rem, top);
    }
  }
  &__sns {
    margin: $m20;
  }
  /* pager */
  &__pager {
    padding: 10px 0;
    text-align: center;
    border: 1px dotted $colorSub;
    a {
      text-decoration: underline;
    }
  }
}
/* media */
@media #{$medium-up} {
  .post {
    &__title {
      font-size: rem-calc(24);
      font-weight: bold;
    }
  }
}
@media #{$large-up} {
  .post {
    &__header {
      margin: 0 0 40px 0;
    }
    &__title {
      font-size: rem-calc(32);
    }
    &__image {
      max-width: 100%;
      height: auto;
    }
    &__sns {
      $margin: $m30;
    }
  }
}
