@charset "utf-8";

/* post
/* ---------------------------------------- */
.post {
  &--search {
    > a {
      display: block;
      padding: $m10;
      color: $colorBase;
      &:hover {
        background-color: $colorBg;
      }
    }
  }
  &__header {
    margin: 0 0 20px 0;
  }
  &__link {
    display: block;
    margin-bottom: 30px;
    color: $colorBase;
    &:hover {
      .post__title--archive {
        color: $colorLinkHover;
      }
    }
  }
  &__title {
    margin: 0;
    padding: 0 0 5px 0;
    font-size: rem-calc(20);
    font-weight: bold;
    border-bottom: 1px dotted $colorSub;
    &--archive {
      margin: 0;
      padding: 0 0 5px 0;
      border-bottom: 1px dotted $colorSub;
      font-size: rem-calc(16);
      line-height: 1.4;
      transition: 0.3s;
    }
  }
  &__meta {
    margin-bottom: 14px;
    &--footer {
      margin: 0;
      padding-bottom: 10px;
      border-bottom: 1px solid $colorSub;
      text-align: right;
    }
    > * {
      display: inline-block;
      font-weight: 400;
      font-size: rem-calc(12);
      &:first-child {
        margin-left: 0;
      }
      a {
        margin-left: 2px;
        color: $colorBase;
        line-height: 1;
      }
    }
  }
  &__excerpt {
    font-size: rem-calc(12);
  }
  &__image {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid darken($colorBg, 5%);
  }
  &__pager {
    padding: 10px 0;
    text-align: center;
    border: 1px dotted $colorSub;
    a {
      text-decoration: underline;
    }
  }
}
/*
 * media
 */
@media #{$medium-up} {
  .post {
    &__link {
      margin-bottom: 50px;
    }
    &__title {
      margin-bottom: 8px;
      font-size: rem-calc(24);
      font-weight: bold;
      &--archive {
        font-size: rem-calc(28);
        line-height: 1.4;
      }
    }
    &__image {
      margin-bottom: 20px;
      border: 4px solid darken($colorBg, 5%);
    }
  }
}
@media #{$large-up} {
  .post {
    &__header {
      margin: 0 0 40px 0;
    }
    &__title {
      font-size: rem-calc(32);
    }
    &__image {
      max-width: 100%;
      height: auto;
      border: 8px solid darken($colorBg, 5%);
    }
    &__excerpt {
      font-size: rem-calc(14);
    }
  }
}
