@charset "utf-8";

/* -------------------------------------------------------------- */
/* not found
/* -------------------------------------------------------------- */

body.error404 {
  .l-primary {
    float: none;
    width: 100%;
    max-width: 780px;
    margin: 0 auto 40px auto;
  }
}
.not-found {
  &__title {
    margin-top: 0;
  }
}
