@charset "utf-8";

/* -------------------------------------------------------------- */
/* hero
/* -------------------------------------------------------------- */
.hero {
  text-align: center;
  margin-bottom: 40px;
  &__title {
    font-weight: 100;
    margin: 20px 0;
    font-size: rem-calc(50);
    // media queries
    @include breakpoint(medium) {
      font-size: rem-calc(70);
    }
    @include breakpoint(large) {
      font-size: rem-calc(90);
    }
  }
  &__description {
    margin: 20px 0;
    @include breakpoint(large) {
      font-size: rem-calc(22);
      margin: 20px 0;
    }
  }
  &__button {
    margin: 0 6px;
  }
  img {
    max-width: 1240px;
    margin: 0 auto;
  }
}
/* -------------------------------------------------------------- */
/* pickup
/* -------------------------------------------------------------- */
.pickup {
  @include grid-row();
  &__columns8 {
    @include grid-col;
    @include breakpoint(medium) {
      @include grid-col-size(6);
      &--pos {
        @include grid-col-pos(6);
      }
    }
    @include breakpoint(large) {
      @include grid-col-size(8);
      &--pos {
        @include grid-col-pos(4);
      }
    }
  }
  &__columns4 {
    @include grid-col;
    @include breakpoint(medium) {
      @include grid-col-size(6);
      &--pos {
        @include grid-col-pos(-6);
      }
    }
    @include breakpoint(large) {
      @include grid-col-size(4);
      &--pos {
        @include grid-col-pos(-8);
      }
    }
  }
  &__title {
    font-size: rem-calc(40);
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
    @include breakpoint(large) {
      font-size: rem-calc(68);
    }
  }
  img {
    max-width: 780px;
    height: auto;
  }
}
/* -------------------------------------------------------------- */
/* features
/* -------------------------------------------------------------- */
.features {
  &__row {
    @include grid-row();
  }
  &__item {
    margin-bottom: 30px;
    // media query
    @include breakpoint(small) {
      @include grid-col(
        $columns: 12
      );
    }
    @include breakpoint(medium) {
      @include grid-col(
        $columns: 6
      );
      min-height: 300px;
    }
    @include breakpoint(large) {
      @include grid-col(
        $columns: 4
      );
    }
  }
  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    @include breakpoint(large) {
      font-size: rem-calc(36);
      margin-bottom: 60px;
    }
  }
  &__subTitle {
    border-bottom: 2px solid $colorBg;
    font-weight: 200;
    padding-bottom: 10px;
    text-align: center;
    @include breakpoint(large) {
      font-size: rem-calc(28);
    }
  }
  &__links {
    margin: 20px 0;
  }
  &__text {
    font-size: rem-calc(14);
  }
  &__img {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
}
