@charset "UTF-8";

/* -------------------------------------------------------------- */
/* buttons
/* -------------------------------------------------------------- */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @include btnBase($colorBtn, rem-calc(16));
  font-family: $fontFamily;
}
.btn {
  @include btnBase($colorBtn, rem-calc(16));
}
.btn-full {
  @include btnBase($colorBtn, rem-calc(16), true);
}
