@charset "UTF-8";

/* buttons
/* ---------------------------------------- */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @include button(
    $bg: $colorBase
  );
  font-family: $fontFamily;
  &:hover {
    background-color: lighten($colorBase, 20%);
  }
}
.btn {
  @include button(
    $bg: $colorBase
  );
  &:hover {
    background-color: lighten($colorBase, 20%);
  }
}
