@charset "UTF-8";

/* buttons
/* ---------------------------------------- */
.btn {
  @include button(
    $bg: $colorBase
  );
  &:hover {
    background-color: lighten($colorBase, 20%);
  }
}
/* comments */
.btnSubmit {
  @include button(
    $bg: $colorBase
  );
  &:hover {
    background-color: lighten($colorBase, 20%);
  }
}
