@charset "utf-8";

/* post navigation
/* ---------------------------------------- */
.nav-links {
  padding: 20px 0;
  a {
    font-weight: 400;
  }
  > * {
    @include hasPseudoClass(before);
  }
}
.nav-previous {
  text-align: left;
}
.nav-next {
  text-align: right;
}
/* media */
@media #{$medium-up} {
  .nav-links {
    @include grid-row();
    > * {
      @include grid-column($columns: 6, $collapse: false);
    }
  }
}
