@charset "utf-8";

/* post navigation
/* ---------------------------------------- */
.postNav {
  @extend %clearfix;
  margin: $m20;
  padding: 20px 14px;
  border-top: 1px solid $colorSub;
  border-bottom: 1px solid $colorSub;
  a {
    font-weight: 400;
  }
  &__previous {
    @include hasPseudoClass(before);
    padding: 0 0 10px 0;
    &:before {
      @include genericon('\f430', 22px);
    }
  }
  &__next {
    @include hasPseudoClass(after);
    text-align: right;
    padding: 10px 0 0 0;
    &:after {
      @include genericon('\f429', 22px);
    }
  }
}
/* media */
@media #{$medium-up} {
  .postNav {
    margin: $m30;
    padding: 20px 0;
    &__previous {
      float: left;
      width: 50%;
      padding: 0 10px 0 0;
    }
    &__next {
      float: right;
      width: 50%;
      padding: 0 0 0 10px;
    }
  }
}
