@charset "UTF-8";

/* widget
/* ---------------------------------------- */
.widget {
  margin-bottom: 20px;
  &--footer {
    @media #{$medium-up} {
      @include grid-column(
        $columns: 4,
        $collapse: false
      );
    }
  }
  &__title {
    margin: 0 0 12px 0;
    padding: 4px 0;
    border-top: 1px solid $colorBase;
    border-bottom: 1px solid $colorBase;
    font-family: $fontFamilyTitle;
    font-size: rem-calc(16);
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
  }
  a {
    color: $colorBase;
    font-size: rem-calc(14);
    line-height: 1.4;
  }
  // search
  &_search {
    input[type="submit"] {
      display: none;
    }
  }
  // text widget
  &_text {
    .textwidget {
      margin: $m20;
      font-size: rem-calc(14);
    }
  }
  // archive
  &_archive {
    @include widgetBase;
  }
  // categories
  &_categories {
    @include widgetBase;
  }
  // archives
  &_archives {
    @include widgetBase;
  }
  // nav
  &_nav_menu {
    @include widgetBase;
  }
  // pages
  &_pages {
    @include widgetBase;
  }
  // custom menu
  &_custom_menu {
    @include widgetBase;
  }
  // recent comments
  &_recent_comments {
    @include widgetBase;
  }
  // meta
  &_meta {
    @include widgetBase;
  }
  // recent posts
  &_recent_entries {
    @include widgetBase;
    .post-date {
      display: block;
      color: darken($colorSub, 10%);
      font-size: rem-calc(12);
    }
    time {
      display: block;
      margin: 4px 0;
      text-align: right;
      color: darken($colorSub, 10%);
      font-size: rem-calc(12);
    }
  }
  // tag cloud
  &_tag_cloud {
    .tagcloud {
      a {
        padding: 2px;
        &:hover {
          background-color: $colorSub;
        }
      }
    }
  }
  // calendar
  .widget_calendar {}
}
#calendar_wrap {
  border: 1px solid $colorSub;
}
#wp-calendar {
  td {
    text-align: center;
  }
}
