include inc/core/_config
include inc/core/_mixins
extends inc/core/_base
block title
  title= page.top.title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'home'
block append meta
block body
  .l-container
    include inc/layout/_l-header
    .l-main
      .l-primary
        .mainImg
          h1.mainImg__logo MEGUMI HANO
          p.mainImg__description Freelance Web Developer based in Tokyo / Saitama, Japan
          ul.snsIcons
            li.snsIcons__item.snsIcons__item--fb
              a(href='https://facebook.com/megumi.hano')
                svg(viewBox='0 0 24 24', role='img', area-labelledby='title desc', width='28', height='28')
                  use(xlink:href='/assets/images/sprite.symbol.svg#icon_fb_black')
            li.snsIcons__item.snsIcons__item--gh
              a(href='https://github.com/featherplain/')
                svg(viewBox='0 0 25 25', role='img', area-labelledby='title desc', width='28', height='28')
                  use(xlink:href='/assets/images/sprite.symbol.svg#icon_gh')
        section.block
          h2.block__title
            .block__title__inner WORKS
          ul.works
            - for (var x = 0; x < 6; x++)
              li.works__item
                figure
                  a.works__link(href='#', title='')
                    img(src='http://placehold.jp/640x320.png', alt='')
                  figcaption.works__caption Title is here
        section.block
          h2.block__title
            .block__title__inner WHAT I DO
          ul.do
            li.do__item
              .do__icon
                svg(viewBox='0 0 80 62', role='img', area-labelledby='title desc', width='80', height='62')
                  use(xlink:href='/assets/images/sprite.symbol.svg#icon_code')
              h3.do__title Front-End
              p.do__description HTML / SCSS / Javascript
            li.do__item
              .do__icon
                svg(viewBox='0 0 42 77', role='img', area-labelledby='title desc', width='38', height='71')
                  use(xlink:href='/assets/images/sprite.symbol.svg#icon_bolt')
              h3.do__title Cutting Edge
              p.do__description git / gulp / foundation / BrowserSync / Jade
            li.do__item
              .do__icon
                svg(viewBox='0 0 60 57', role='img', area-labelledby='title desc', width='60', height='57')
                  use(xlink:href='/assets/images/sprite.symbol.svg#icon_design')
              h3.do__title Web Design
              p.do__description Responsive / Sketch / Photoshop / Illustrator
            li.do__item
              .do__icon
                svg(viewBox='0 0 60 60', role='img', area-labelledby='title desc', width='60', height='60')
                  use(xlink:href='/assets/images/sprite.symbol.svg#icon_pencil')
              h3.do__title Writing
              p.do__description Books / Blog
            li.do__item
              .do__icon
                svg(viewBox='0 0 70 70', role='img', area-labelledby='title desc', width='70', height='70')
                  use(xlink:href='/assets/images/sprite.symbol.svg#icon_wp')
              h3.do__title WordPress
              p.do__description Contribute to WordPress Community
              p.do__description: a(href='https://profiles.wordpress.org/featherplain', target='_blank') View my profile on WordPress.org
            li.do__item
              .do__icon.do__icon--exp
                svg(viewBox='0 0 114 34', role='img', area-labelledby='title desc', width='114', height='34')
                  use(xlink:href='/assets/images/sprite.symbol.svg#icon_exp')
              h3.do__title EXP
              p.do__description Contribute to co-authored blog
              p.do__description: a(href='http://wp-e.org', target='_blank') http://wp-e.org/
      // /.l-primary
    // /.l-main
    include inc/layout/_l-footer
  // /.l-container
block append scriptFooter
