include inc/core/_config
include inc/core/_mixins
extends inc/core/_base
block title
  title= page.top.title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'home'
block append meta
block body
  .l-container
    include inc/layout/_header
    .l-main
      include inc/layout/_hero
      include inc/layout/_pickup
      include inc/layout/_features
    // / .l-main
    include inc/layout/_footer
  // / .l-container
block append scriptFooter
