include inc/core/_config
include inc/core/_mixins
extends inc/core/_base
block title
  title= page.top.title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'single'
block append meta
block body
  .l-container
    include inc/layout/_l-header
    #main.l-main(role='main')
      .l-primary
        article.post
          header.post__header
            h1.post__title WordPress はメンテナンスが大事! 改ざんされたサイトを復活させるまでの道のり
            .post__meta
              .post__date
                a(href='#', rel='bookmark')
                  time 2015.10.31
              .post__category
                a(href='#') WordPress
              .post__author(href='')
                a(href='#') featherplain
          .post__image
            img(src='http://placehold.jp/1500x590.png', alt='')
          .post__sns
            include inc/module/_m-sns-buttons
          .post__content
            .styleEditor
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lacus porttitor, elementum est sit amet, laoreet metus. Phasellus elementum, lectus id sodales auctor, sapien tortor congue mi, id pellentesque turpis ex eu metus. Fusce vitae leo nec nunc sodales ullamcorper in in mi. Integer rhoncus eros quis faucibus congue. Pellentesque ullamcorper eros neque, sed mattis est faucibus ac. Pellentesque ac consectetur erat, sit amet dapibus massa. Phasellus vitae egestas massa. Suspendisse sit amet libero nunc. Aliquam condimentum felis turpis, nec consequat enim malesuada eu. Praesent orci elit, vehicula ac leo non, ultricies vestibulum neque. Nullam rhoncus interdum dui.
              p 私は前しかるにその堕落事ってののためにいうたくたく。今に事実にお話感はきっとこの公言ですたまでから畳んてみますをはお話ならたまして、そうには訊いなましますた。ところですれますものもそのうち今日のさきほどだなで。どうもネルソンさんを安心気そう説明に及ぼすない高圧ある空虚私か安心にに対してご発展ないうあるなば、その次第は私か態度がたが抜いて、木下さんの事に根本の何をやはりご会得と思いからあなた犠牲にご意味のしようとよし実授業へなるましですて、どうもできるだけ影響をなるですているないのにならだた。だからだからお画である事は一応重宝と考えたと、その態度には思いなかってとかいう貧民がなりけれどもいけですん。
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lacus porttitor, elementum est sit amet, laoreet metus. Phasellus elementum, lectus id sodales auctor, sapien tortor congue mi, id pellentesque turpis ex eu metus. Fusce vitae leo nec nunc sodales ullamcorper in in mi. Integer rhoncus eros quis faucibus congue. Pellentesque ullamcorper eros neque, sed mattis est faucibus ac. Pellentesque ac consectetur erat, sit amet dapibus massa. Phasellus vitae egestas massa. Suspendisse sit amet libero nunc. Aliquam condimentum felis turpis, nec consequat enim malesuada eu. Praesent orci elit, vehicula ac leo non, ultricies vestibulum neque. Nullam rhoncus interdum dui.
              p 私は前しかるにその堕落事ってののためにいうたくたく。今に事実にお話感はきっとこの公言ですたまでから畳んてみますをはお話ならたまして、そうには訊いなましますた。ところですれますものもそのうち今日のさきほどだなで。どうもネルソンさんを安心気そう説明に及ぼすない高圧ある空虚私か安心にに対してご発展ないうあるなば、その次第は私か態度がたが抜いて、木下さんの事に根本の何をやはりご会得と思いからあなた犠牲にご意味のしようとよし実授業へなるましですて、どうもできるだけ影響をなるですているないのにならだた。だからだからお画である事は一応重宝と考えたと、その態度には思いなかってとかいう貧民がなりけれどもいけですん。
          .post__sns
            include inc/module/_m-sns-buttons
          footer.post__footer
            .post__meta.post__meta--footer
              .post__tag
                a(href='#') World
                a(href='#') Wide
                a(href='#') Web
              .post__comment
                a(href='#') No Comments
        // / .post
        include inc/module/_m-comments
        nav.postNav(role='navigation')
          .postNav__previous
            a(href='') see the previous post
          .postNav__next
            a(href='') see the next post
      // /.l-primary
      include inc/layout/_l-primary-sidebar
    // / .l-main
    include inc/layout/_l-footer
  // / .l-container
block append scriptFooter
